.gallery img{
	padding: 10px;
}
.footer{
	height: 150px
	width:auto;
}
.footer h5{
	line-height: 50px;
	font-size: 15px;
	color: gray;
}
/*bg images */
.bgimg{
	background-image: url('../images/carb1.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 400px;
}
/*carsoul */
.sidemenu{
	width: 200px;
	position: absolute;
	right: 0px;
	float: right;
}
.navicon{
	padding: 1px;
	font-size: 15px;
}
/*about us*/
.about_us{
	height: 450px;
}
/*contact info*/
.contact_info{
	margin-top: 110px;
}

/*navbar_brand*/
.navbar_brand{
	margin-left: 40px;
	font-size: 20px;
	font-weight: bold;
}
















@media(min-width: 992px){
.about_us{
	height: 600px;
}
}

@media(min-width: 768px) and (max-width: 991px){
.about_us{
	height: 600px;
}
}

@media(min-width: 575px) and (max-width: 767px){

.about_us{
	height: 800px;
}
.about_us button{
	background-color: white;
	color: black;

}
}

@media(min-width: 460px) and (max-width: 574px){

	.gallery img{
	height: 300px;
	width: auto;
}
.services .card{
	height: 600px;
	width: auto;
}
.services .card img{
	height: 250px;
	
}
.nav_icon_medium{
	font-size: 5px;
}
.about_us{
	height: 800px;
}
.about_us button{
	background-color: white;
	color: black;

}

}
